name: oweme-system

services:
  oweme.identity:
    image: oweme.identity
    container_name: IdentityServer
    ports:
      - "5010:8080"
      - "5011:8081"
    environment:
      - Serilog__WriteTo__0__Name=Console
      - Serilog__WriteTo__1__Args__ResourceAttributes__service.name=OweMe.Identity
      - Serilog__WriteTo__1__Args__Endpoint=http://seq:5341/ingest/otlp/v1/logs
      - Serilog__WriteTo__1__Args__Protocol=HttpProtobuf
      - Serilog__WriteTo__1__Name=OpenTelemetry

      - ConnectionStrings__DefaultConnection=Server=oweme.identity.database;Database=OweMe.Identity;Username=sa;Password=Password123;TrustServerCertificate=True;
      - Migrations__ApplyMigrations=true
      - Migrations__SeedData=true

      - OweMe__Identity__IssuerUri=http://oweme.identity:8080
    depends_on:
      oweme.identity.database:
        condition: service_healthy
      seq:
        condition: service_started

  oweme.identity.database:
    image: "postgres:15"
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=OweMe.Identity
      - POSTGRES_USER=sa
      - POSTGRES_PASSWORD=Password123
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5
