services:
  oweme.identity:
    image: oweme.identity
    container_name: IdentityServer
    build:
      context: .
      dockerfile: src/OweMe.Identity.Server/Dockerfile
    ports:
      - "5010:8080"
      - "5011:8081"
    environment:
      - Serilog__WriteTo__0__Name=Console
      - ConnectionStrings__DefaultConnection=Server=oweme.identity.database;Database=OweMe.Identity;Username=sa;Password=Password123;TrustServerCertificate=True;
      - Migrations__ApplyMigrations=true
      - Migrations__SeedData=true
    depends_on:
      - oweme.identity.database

  oweme.identity.database:
    image: "postgres:15"
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=OweMe.Identity
      - POSTGRES_USER=sa
      - POSTGRES_PASSWORD=Password123
